.brands_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.brand_item {
    width: calc(100% / 7 - 2%);
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.brand_item img {
    width: 65%;
    height: 30%;
    margin: 0 auto;
}