header {
    border-bottom: 2px solid #F0F0F0;
    position: relative;
    z-index: 5;
    background-color: white;
}
.top_header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 10px;
}
.navbar_links {
    display: flex;
    align-items: center;
}

.navbar_links a {
    transition: .2s;
}
.navbar_links a:hover {
    color: #C2871E;
}
.navbar_links>a {
    font-size: 12px;
    color: black;
    margin-right: 15px;
}
.navbar_icon_number {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
#mail_link {
    font-size: 14px;
}
.navbar_icon_number a {
    font-size: 14px;
    color: black;
}
.navbar_icon_number i {
    color: #C2871E;
    margin-right: 10px;
}
.bottom_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    height: 120px;
    width: 150px;
}
.header_logo img {
    width: 100%;
}
.header_catalog {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header_catalog:hover p {
    color: #C2871E;
}
.header_catalog p {
    font-size: 14px;
    transition: .2s;
    font-weight: bold;
}
.header_catalog i {
    color: #C2871E;
    margin-left: 20px;
    font-size: 22px;
}
.fas.fa-angle-down {
    transition: .3s;
}
.fas.fa-angle-down.active {
    transform: rotate(180deg);
}

.header_search {
    width: 35%;
    position: relative;
}
.header_search input {
    padding: 10px;
    border-radius: 5px;
    border:2px solid #DADADA;
    outline: none;
    width: 100%;
}
.header_search i {
    color: #C2871E;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: -10px;
}
.header_shopping {
    display: flex;
    align-items: center;
}
.header_shopping:hover a {
    color: #C2871E;
}

.header_shopping a {
    font-size: 14px;
    transition: .2s;
    color: black;
    font-weight: bold;
    margin-left: 15px;
}

.catalog_window.show {
    display: flex;
}
.catalog_window {
    display: none;
    padding: 30px;
    position: absolute;
    top: 175px;
    width: 96.05%;
    background-color: white;
    z-index: 3;
}
.catalog_left_side {
    width: 45%;
    border-right: 2px solid #cfcfcf;
}
.catalog_left_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    transition: .2s;
    cursor: pointer;
    height: 50px;
    width: 60%;
    border-radius: 5px;
}
.catalog_left_item.current {
    background-color: #EFEFEF;
}
.catalog_left_item:hover {
    background-color: #EFEFEF;
}
.catalog_left_item img {
    width: 45px;
    height: 100%;
    object-fit: cover;
}
.catalog_left_item h4 {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
}
.catalog_right_side {
    margin-left: 100px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gadgets_catalog {
    display: none;
}
.gadgets_catalog:nth-child(1){
    display: block;
}
.gadgets_catalog a {
    color: #808080;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    transition: .2s;
}
.gadgets_catalog li {
    margin: 20px 0;
}
.gadgets_catalog a:hover {
    color: black;
}
.catalog_right_img {
    background-image: url(../../imgs/backgrounds/redmi_green.png);
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    width: 100%;
}
.catalog_right_img_title  {
    width: 30%;
    text-align: center;
}
.catalog_right_img h1{
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}
.catalog_right_img p{
    color: white;
    font-size: 24px;
}
.shopping_list {
    border: 2px solid black;
}
.shopping_list tr {
    border: 2px solid black;
}
.shopping_list td {
    border: 2px solid black;
}
.shopping_list th {
    border: 2px solid black;
}